@inherits ComponentFieldBaseList
@using MudBlazor
@using Bb.WebClient.UIComponents


<MudGrid Spacing="2" Justify="Justify.SpaceEvenly">

    <MudItem xs="6">

        <MudPaper Elevation="25">
            <MudToolBar Dense="true">
                <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="Add" />
                @*<MudIconButton Icon="@Icons.Material.Outlined.Remove" Color="Color.Inherit" OnClick="Add" />*@
            </MudToolBar>
        </MudPaper>

        <MudSimpleTable Style="overflow-x: auto;height:150px" Dense="true">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    @foreach (PropertyObjectDescriptor h in Headings())
                    {
                        <th>@h.GetDisplay()</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Rows)
                {
                    <tr>
                        <td><MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="@(() => Edit(row))" /></td>
                        <td><MudIconButton Icon="@Icons.Material.Outlined.Delete" OnClick="@(() => Del(row))" /></td>
                        @foreach (var itemCol in Descriptor.Items)
                        {
                            <td>@itemCol.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </MudSimpleTable>

    </MudItem>

    <MudItem xs="6" >
        <PropertyGrid SelectedObject="@CurrentItem" />
    </MudItem>

</MudGrid>